<%= yield %>
<section id="about">
    <article>
        <p>The code behind this blog can be found here: <a href="https://github.com/ScrimpyCat/Blog">https://github.com/ScrimpyCat/Blog</a></p>
    </article>
</section>