body {
    display: block;
    background-color: #56a0d3;
    margin: 8px;
}

section#posts {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

article {
    color: #eee;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;

    overflow: auto;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #4690c3;
}

article header {
    overflow: hidden;
}

article header * {
    margin: 0px;
    padding: 0px;
}

article h1 {
    margin-top: 20px;
    margin-bottom: 1em;
    font-size: 2.5em;
}

article h2 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-size: 1.5em;
}

article h6 {
    font-size: 0.67em;
}

article h1, article h2, article h6 {
    font-weight: 200;
}

article p, article ul {
    text-align: left;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 800px;

    font-weight: 300;
}

article pre {
    text-align: left;
    background-color: #34322a;
    overflow: auto;
    font-family: monospace;
    margin-top: 1em;
    margin-bottom: 1em;
}

article code {
    font-family: monospace;
}

article em {
    font-style: italic;
}

article a {
    color: #eee;
    text-decoration: underline;
}

article a:hover {
    color: #111;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid;
    max-width: 100%;
    max-height: 100%;
    /*
    position: relative;
    right: 5px;
    */
}

.title-link a, .title-link a:hover {
    text-decoration: none;
    color: #eee;
}

.right-sided {
    float: right;
    text-align: right;
    max-width: 33%;
}

.left-sided {
    text-align: left;
    max-width: 67%;
}

section#tags {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    margin-bottom: 3px;
}

section#series {
    color: #eee;
    text-align: center;
}

section#series h1 {
    font-weight: 200;
    font-size: 2.5em;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    margin: 8px;
}